<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Too many matches found.</strong> Please enter a more specific
  query!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>